<div class="row">
  <div class="col-md-6 col-md-offset-3 container">
    <h2 class="title">¡Regístrate en Newdot!</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { autocomplete: 'off' }) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-input-wrapper">
        <%= f.text_field :username, autofocus: true, placeholder: "Usuario", onfocus: "this.value = this.value;" %>
      </div>

      <div class="form-input-wrapper">
        <%= f.email_field :email, placeholder: "Correo" %>
      </div>

      <% if f.object.password_required? %>
        <div class="form-input-wrapper">
          <%= f.password_field :password, autocomplete: "off", placeholder: "Contraseña (mínimo #{@minimum_password_length} caracteres)" %>
        </div>

        <div class="form-input-wrapper">
          <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Reingresa tu contraseña" %>
        </div>
      <% end %>

      <%= f.submit "Crear cuenta", class: "button create-account" %>

    <% end %>

    <!--<%= render "devise/shared/links" %>
    <div class="devise-links">
      <%= render "devise/shared/links" %>
    </div>-->
  </div>
</div>