<style>
input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
input[type="email"] {
    margin-bottom: -1px;
    border-radius: 0;
}
input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
</style>

<div class="container text-xs-center">
    <a href="<%= root_path %>"><%= image_tag('tongs.svg', height: 80, alt: "Tongs", title: "Tongs", class: "m-a-2") %></a>
    <p class="h3 m-b-3">Comparte todo lo que<br> sepas o te apasione.</p>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { autocomplete: 'off' }) do |f| %>
    <div class="error-alerts">
      <% @user.errors.full_messages.each do |msg| %>
        <div class="alert alert-warning" role="alert"><%= msg %></div>
      <% end %>
    </div>
    <div class="form-group">
        <label class="sr-only" for="email">Name</label>
        <%= f.text_field :username, autofocus: true, placeholder: "¿Tu nombre?", onfocus: "this.value = this.value;", class: "form-control" %>
        <label class="sr-only" for="email">Email address</label>
        <%= f.email_field :email, placeholder: "Aquí va tu @correo", class: "form-control" %>
        <% if f.object.password_required? %>
        <label class="sr-only" for="email">Password</label>
        <%= f.password_field :password, autocomplete: "off", placeholder: "Elige una contraseña difícil :)", class: "form-control" %>
        <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Tu contraseña, otra vez :)", class: "form-control hidden-xs-up" %>
        <% end %>
    </div>
    <%= f.submit "Registrarme", class: "btn btn-primary btn-block" %>
    o <%= link_to "Entrar", new_user_session_path %>
    <% end %>
</div>
