<div style="max-width: 600px; margin: 0 30px 0 60px;">
  <div style="display: inline-flex;margin-top: 50px;">
    <div style="padding-top: 12px;
                padding-bottom: 5px;
                margin-right: 10px;">
      <img src="/assets/tongsession.svg" height="30" alt="" title="Tong" />
    </div>
    
    <h2 style="color: rgba(0,0,0,0.8);
              font-family: helvetica, 'Open Sans', sans-serif;
              font-size; 22px;
              font-weight: normal;
              line-height: 24px;
              margin: 0;
              padding-top: 15px;
              padding-bottom: 5px;
              ">Tong</h2>
  </div>

  <hr style="max-width: 600px;margin-bottom: 40px;"/>

  <p style="font-family: helvetica, 'Open Sans', sans-serif;
            color: rgba(0,0,0,0.8); line-height: 2.0;    margin-bottom: -16px;">
    Hola <%= @user.username.split(" ").first %>, a partir de ahora ya puedes compartir y consumir contenido de calidad.<br/>
    <strong>Empieza con estas opciones para sacarle el máximo provecho a Tong:</strong>
    <ul style="list-style: none;padding: 15px;">
      <li style="margin-bottom: 5px;"><%= link_to "Edita tu perfil", @user, style: 'text-decoration: none;color:#ee4266' %></li>
      <li style="margin-bottom: 5px;"><%= link_to "Busca amigos y síguelos", root_url, style: 'text-decoration: none;color:#ee4266' %></li>
      <li><%= link_to "Comparte algo que sabes", new_post_path, style: 'text-decoration: none;color:#ee4266' %></li>
    </ul>
  </p>
</div>

<img src="/assets/welcome-email.jpg" style= "display: block; max-width: 600px; margin: 0 30px 0 60px;" />
<div style="margin: 0 30px 0 60px;"> 
  <h4 style="font-family: helvetica, 'Open Sans', sans-serif; font-size: 18px;
            color: rgba(0,0,0,0.8); line-height: 1.4;"><strong>¡Empieza ya a ganar tongs!</strong></h4>
  <%= link_to "Empezar", root_path, style: 'font-family: helvetica, Open Sans, sans-serif;padding: 0.2em 0.5em;cursor: pointer;background-color:#0ead69;text-decoration: none;color: white;border-radius:4px' %>

</div>