<div class="inline-editor" id="inline-editor" data-page="inline-editor">
  
  <div id="cont-main" class="cont-main">
    <div class="editor-metadata">
      <%= avatar_for(current_user, size: 40) %>
      <strong class="editor-username"><%= current_user.username %></strong>
    </div>

    <div id="choose">
      <div id="short" class="options-form back-options">Algo corto</div>
      <div id="large" class="options-form">Algo largo</div>
    </div>
  </div>
  
  <div id="short-form" style="display: inline;">
    <%= form_for Post.create, url: posts_create_dashboard_path, html: { multipart: true, class: "editor-form", autocomplete: "off" } do |f| %>
      <div class="form-group hide" id="title-dashS">
        <%= f.text_field :title, class: 'editor-title', placeholder: 'Título', data: { behavior: "autosave" }, onfocus: "this.value = this.value;" %>
      </div>

      <div class="form-group">
        <%= f.text_area :body, class: 'medium-editable post-body', id: 'editor-body' %> 
      </div>

      <button class="button green-border-button" data-behavior="publish-button">Publicar</button>
      <button class='button green-border-button cancel-button' data-behavior="editor-cancel">Cancelar</button>
    <% end %>
  </div>

  <div id="large-form" style="display: none;">
    <%= form_for @dashboard.new_post, url: post_create_and_edit_path, html: { multipart: true, class: "editor-form", autocomplete: "off" } do |f| %>

      <div class="form-group hide" id="title-dashL">
        <%= f.text_field :title, class: 'editor-title', placeholder: 'Título', data: { behavior: "autosave" }, onfocus: "this.value = this.value;" %>
      </div>

      <div id="body-large" class="form-group">
        <%= f.text_area :body, class: 'medium-editable post-body', id: 'editor-body' %> 
      </div>

      <%= f.submit "Pantalla completa", class: 'button green-inner-button go-full-screen' %>
      <button class='button green-border-button cancel-button' data-behavior="editor-cancel">Cancelar</button>
    <% end %>
  </div>
</div>