<div style="max-width: 600px; margin: 50px 50px 20px 50px;">
  <div style="display: inline-flex;">
    <div style="padding-top: 12px;
                padding-bottom: 5px;
                margin-right: 10px;">
      <%= image_tag('tongsession.svg', height: 30, alt: "", title: "Tong") %>  
    </div>
    
    <h2 style="color: rgba(0,0,0,0.8);
              font-family: helvetica, 'Open Sans', sans-serif;
              font-size; 22px;
              font-weight: normal;
              line-height: 24px;
              margin: 0;
              padding-top: 15px;
              padding-bottom: 5px;
              ">Lo mejor de hoy</h2>
  </div>

    <hr style="max-width: 600px;"/>
</div>

<div style="max-width: 600px;">
  <div style="margin: 0 50px;padding-top: 5px; padding-bottom: 3px;">
    <small style="color: rgba(0,0,0,0.3); font-family: helvetica, 'Open Sans', sans-serif;
    font-size: 14px; font-weight: 100px; text-transform: uppercase; 
    letter-spacing: 0.1px;" >Recomendado por el equipo de Tong</small>
  </div>
  <!--<div>
    <small style="color: rgba(0,0,0,0.8); font-family: helvetica, 'Open Sans', sans-serif;
    font-size: 16px; font-weight: bold; text-transform: uppercase; 
    letter-spacing: 0.9px;" >El equipo de Tong</small>
  </div>-->
  
  <% @recommended.each do |post| %>
    <div style="margin: 0 50px;max-width: 500px; padding: 30px 0;
                border-bottom: 1px solid rgba(0,0,0,0.05);">
      <% if post.picture? %>
        <%= image_tag post.picture.url(:thumb), style: "display: block;
            max-width: 400px; margin: 0 auto;" %>
      <% end %>
      <h4 style="margin: 0; padding: 5px 0;">
        <%= link_to post.title, post_url(post), style: "color: rgba(0,0,0,0.8);
              text-decoration: none; font-size: 24px; font-family: helvetica, 'Open Sans', sans-serif;" %></h4>
      <p style="margin: 0; padding: 0; font-family: helvetica, 'Open Sans', sans-serif;">
        <%= truncate(post.body, length: 120, escape: false) %>
      </p>
      <div style="margin: 0; padding-top: 15px; display: flex;">
        <%= avatar_for post.user, size: 40, style: "border-radius: 50%; margin-right: 12px;" %>
        <div>
          <%= link_to post.username, user_url(post.user), style: "color: #EE4266;
              text-decoration: none; font-family: helvetica, 'Open Sans', sans-serif;;" %><br/>
              <small style="color: rgba(0,0,0,0.8); font-family: helvetica, 'Open Sans', sans-serif;">
                <%= time_ago_in_words(post.created_at) %> &#149; <%= post_length_in_minutes(post.body) %>
              </small>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div style="margin: 0 50px; padding: 30px 0;">
  <%= link_to "¡Lee más en Tong!", root_url,
      style: 'font-family: helvetica, Open Sans, sans-serif;padding: 0.2em 0.5em;cursor: pointer;background-color:#0ead69;text-decoration: none;color: white;border-radius:4px' %>
</div>