<div class="container text-xs-center">
  <a href="<%= root_path %>"><%= image_tag('tongs.svg', height: 80, alt: "Tongs", title: "Tongs", class: "m-a-2") %></a>
  <p class="h3">Comparte todo lo que<br> sepas o te apasione.</p>
  <p class="hidden-sm-down">Conoce los temas de los que hablan<br> tus amigos y aprende de ellos.</p>
  <p class="m-b-3">Si aprendiste o te divirtió algo<br> entonces dale un <strong>tong</strong> 👅</p>
  <p><%= link_to "Entra con Facebook", user_omniauth_authorize_path(:facebook), class: "btn btn-primary btn-lg" %></p>
  <p><%= link_to "Entra", new_user_session_path, class: "btn btn-primary-outline" %> o
    <%= link_to "Regístrate", new_user_registration_path %> con tu correo</p>
</div>
