<div class="overlay-main" style="background: url(<%= randomized_background_image %>) no-repeat center center fixed;z-index: 10000;">
  <%= image_tag('tongsession.svg', class: 'logo-main', height: 80, alt: "", title: "Newdot") %>
  <div class="welcome-desc">
    <p class="desc-first hidden-xs">Conoce los temas de los que hablan tus amigos y aprende de ellos.</p>
    <p class="desc-second"><strong>Comparte todo lo que sepas o te apasione.</strong></p>
    <p class="desc-third">Aumenta tu valor profesional ganando <strong>likes</strong> 👅</p>
  </div>
  <ul class="auth">
    <li class="omniauth-button">
      <%= link_to user_omniauth_authorize_path(:facebook), class: 'button social facebook' do %>
        <%= icon('facebook-official') %>Entra con Facebook
      <% end %>
    </li>
    <li class="regular-signin">
      <%= link_to "Entra", new_user_session_path, class: "signin-signup-link" %> o
      <%= link_to "Regístrate", new_user_registration_path, class: "signin-signup-link" %> con tu correo
    </li>
  </ul>
  <!-- div class="footnote">Cañón de Waimea, Kauai</div-->
</div>