<div class="overlay-main" style="background: url(<%= randomized_background_image %>) no-repeat center center fixed;z-index: 10000;">
  <object data="assets/newdotlogo.svg" type="image/svg+xml" height="200"></object>
  <div class="welcome-desc">
    <p class="desc-first hidden-xs">Newdot, la comunidad que imagina y crea</br>el mejor futuro para el planeta.</p>
    
  </div>
  <ul class="auth">
    <li class="omniauth-button">
      <%= link_to user_omniauth_authorize_path(:facebook), class: 'button social facebook' do %>
        <%= icon('facebook-official') %>¡Únete a la comunidad!
      <% end %>
    </li>
    <li class="regular-signin">
      <%= link_to "Entra", new_user_session_path, class: "signin-signup-link" %> o
      <%= link_to "Regístrate", new_user_registration_path, class: "signin-signup-link" %> con tu correo
    </li>
  </ul>
  <!-- div class="footnote">Cañón de Waimea, Kauai</div-->
</div>