<div class="overlay-main hi-background-image">
  <%= image_tag('newdotlogo.svg', "data-svg-fallback" => image_path('logo.svg'),:style => "height: 200px;") %>
  
  
  <div class="welcome-desc">
    <p class="desc-first hidden-xs">Conoce los temas de los que hablan tus amigos y aprende de ellos.</p>
    <p class="desc-second"><strong>Comparte todo lo que sepas o te apasione.</strong></p>
    <p class="desc-third">Aumenta tu valor profesional</p>
  </div>
  <ul class="auth">
    <!-- <li class="omniauth-button">
      <%= link_to user_omniauth_authorize_path(:facebook), class: 'button social facebook' do %>
        <%= icon('facebook-official') %>Continúa con Facebook!
      <% end %>
    </li> -->
    <li class="regular-signin">
      <%= link_to "Entra", new_user_session_path, class: "signin-signup-link" %> o
      <%= link_to "Regístrate", new_user_registration_path, class: "signin-signup-link" %> con tu correo
    </li>
  </ul>
  <!-- div class="footnote">Cañón de Waimea, Kauai</div-->
</div>