<div class="overlay-main">
  <%= image_tag('tongsession.png', class: 'logo-main', height: 30, alt: "Tongue") %>
  <h2 class="grayed-heading-main center-main overlay-title-main">Tongue</h2>
  <div class="overlay-desc-main">
    <div class="desc-main">
      <h1 class="title-main">La mejor extensión del ser humano para aprender</h1>
      <p>Creamos Newdot para facilitarte compartir lo que mejor sabes. Experiencias, intereses, gustos, ideas, proyectos. Todo es bienvenido si es relevante. Y lo mejor, compartiendo lo que sabes impactas a millones de personas alrededor del mundo. ¡Maravilloso!</p>
    </div>
    <ul class="omniauth-button-group">
      <li class="omniauth-button">
        <%= link_to user_omniauth_authorize_path(:facebook), class: 'button social facebook' do %>
          <%= icon('facebook-official') %>Ingresa con Facebook
        <% end %>
      </li>
      <p class="o o-s">o</p>

      <!--<li class="omniauth-button google">
        <%= link_to user_omniauth_authorize_path(:google_oauth2), class: 'button social google' do %>
          <%= icon('google') %>Ingresa con Google
        <% end %>
      </li>

      <li class="omniauth-button twitter">
        <%= link_to user_omniauth_authorize_path(:twitter), class: 'button social twitter' do %>
          <%= icon('twitter') %>Ingresa con Twitter
        <% end %>
      </li>

      <li>-->
        <%= link_to "Ingresa o Registrate con tu correo", new_user_session_path, class: "signin-signup-link" %>
      </li>
    </ul>
  </div>
</div>