<div class="row">
  <div class="col-md-6 col-md-offset-3 container">
    <h2 class="title">¡Entra a Newdot!</h2>

    <div class="signin-wrapper">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { autocomplete: 'off' }) do |f| %>
        <div class="form-input-wrapper">
          <%= f.email_field :email, autofocus: true, placeholder: "Correo", autocomplete: 'off', onfocus: "this.value = this.value;" %>
        </div>

        <div class="form-input-wrapper">
          <%= f.password_field :password, autocomplete: "off", placeholder: "Contraseña" %>
        </div>

        <%= f.submit "Inicia sesión", class: "button green-inner-button" %>

        
        <%= link_to "Regístrate", new_user_registration_path, class: 'button a-to-button pull-right' %>
        <% if devise_mapping.rememberable? -%>
          <div class="field remember-me">
            <%= f.check_box :remember_me %>
            <%= f.label :Recuérdame %>
          </div>
        <% end -%>
      <% end %>
    </div>
  </div>
</div>