<% if user_signed_in? %>  
  <div class="col-md-5 col-md-offset-3 dashboard-main-content">
    <% unless @dashboard.top_stories? %>
      <% if current_page?('/') %>
        <% if @dashboard.posts.any? %>
          <div data-animation="fadeInUp-fadeOutDown">
            <%= render 'shared/inline_editor' %>
          </div>
        <% else %>
          <div class="block-start">
            <div class="tong-start-block">
              <img src="/assets/tongstart.png" class="tong-start" alt="" title="Hola :)" />
              <h1 class="hi-start">¡Hola <strong><%= current_user.username.split(" ").first %></strong>! </h1>
            </div>
            <p>¡Te estábamos esperando! Este es tu muro en donde encontrarás las últimas publicaciones de tus amigos. Pero antes debes seguirlos. A la <strong>derecha</strong> podrás verlos. También están en <strong>Destacados</strong>.</p>
            <p>En Tong podrás:</p>
            <ul>
              <li>Publicar contenido de los temas que más dominas. Experiencias, intereses, gustos, ideas, proyectos, etc. Todo es bienvenido si es relevante.</li>
              <li>Encontrar siempre algún post que te pueda interesar y/o servir.</li>
              <li>Seguir a tus amigos, profesores, compañeros de trabajo, de estudio... Sí, todos están aquí.</li>
              <li>Dar y recibir <strong>tongs</strong> por publicaciones que generan valor.</li>
              <li>Agregar temas que te interesan y recibir contenido relacionado a ellos.</li>
              <li>Guardar posts para leerlos después.</li>
              <li>Buscar quiénes ya están usando Tong y empezar a seguirlos.</li>
            </ul>
            <h4 class="by-start"><strong>Ya, basta. Olvídanos por ahora y ¡empieza a usar Tong! ☺</strong></h4>
            </p>
          </div>
        <% end %>
      <% end %>
      <div class="posts-wrapper" data-behavior="endless-scroll" data-animation="fadeInUp-fadeOutDown">
        <%= render @dashboard.posts %>
      </div>      
    <% else %>
      <div class="posts-wrapper" data-animation="fadeInUp-fadeOutDown">
        <%= render 'posts/top_stories', posts: @dashboard.posts %>
      </div>
    <% end %>

    <% unless @dashboard.top_stories? %>
      <%= will_paginate @dashboard.posts %>
    <% end %>
  </div>

  <% content_for :sidebar do %>
    <aside class="col-md-3 main-sidebar">
      <h4 class="small-heading border-feat-tags">Tags destacados</h4>
      <%= react_component('TagList', { tags: @dashboard.featured_tags }, { prerender: true }) %>

      <div class="flex-container border-top">
        <h4 class="small-heading">Tags que sigues</h4><%= react_component('AddTagButton') %>
      </div>
      <%= react_component('FollowingTagList', { followingTags: current_user.following_tags }) %>

      <div class="follow-suggestion-wrapper">
        <%= react_component('FollowSuggestionsContainer', {}) %>
      </div>
    </aside>
  <% end %>
<% end %>