<% if user_signed_in? %>  
  <div class="col-md-5 col-md-offset-3 dashboard-main-content">
    <% unless @dashboard.top_stories? %>
      <% if current_page?('/') %>
        <div data-animation="fadeInUp-fadeOutDown">
          <%= render 'shared/inline_editor' %>
        </div>
      <% end %>
      <div class="posts-wrapper" data-behavior="endless-scroll" data-animation="fadeInUp-fadeOutDown">
        <%= render @dashboard.posts %>
      </div>      
    <% else %>
      <div class="posts-wrapper" data-animation="fadeInUp-fadeOutDown">
        <%= render 'posts/top_stories', posts: @dashboard.posts %>
      </div>
    <% end %>

    <% unless @dashboard.top_stories? %>
      <%= will_paginate @dashboard.posts %>
    <% end %>
  </div>

  <% content_for :sidebar do %>
    <aside class="col-md-3 col-md-offset-1 main-sidebar">
      <h4 class="small-heading border-top">Tags destacados</h4>
      <%= react_component('TagList', { tags: @dashboard.featured_tags }, { prerender: true }) %>

      <div class="flex-container border-top">
        <h4 class="small-heading">Tags que sigues</h4><%= react_component('AddTagButton') %>
      </div>
      <%= react_component('FollowingTagList', { followingTags: current_user.following_tags }) %>
    </aside>
  <% end %>
<% else %>
  <%= image_link_to "lenguita.png", new_user_session_path, { data: { behavior: 'trigger-overlay' }, size: '200x200', alt: '¡Ingresa a Newdot!' }, { class: 'tongue', title: 'Newdot', rel: 'tooltip', relative: true } %>
<% end %>