<% if user_signed_in? %>
  <div class="container">
    <div class="affix pos hid-resp">
      <div class="well follow">
        <div>
          <%= react_component('FollowSuggestionsContainer') %>
        </div>
      </div>
    </div> 
  </div>

  <div class="col-md-5 col-md-offset-3 dashboard-main-content">
    <% unless @dashboard.top_stories? %>
      <% if current_page?('/') %>
        <div>
          <%= render 'shared/inline_editor' %>
        </div>
      <% end %>
      <div class="posts-wrapper" data-behavior="endless-scroll">
        <%= render @dashboard.posts %>
      </div>
    <% else %>
      <div class="posts-wrapper">
        <%= render 'posts/top_stories', posts: @dashboard.posts %>
      </div>
    <% end %>

    <% unless @dashboard.top_stories? %>
      <%= will_paginate @dashboard.posts %>
    <% end %>
  </div>

  <% content_for :sidebar do %>
    <aside class="col-md-3 main-sidebar">
      <h4 class="small-heading border-feat-tags">Temas destacados</h4>
      <%= react_component('TagList', { tags: @dashboard.featured_tags }, { prerender: true }) %>

      <div class="flex-container border-top">
        <h4 class="small-heading">Temas que sigues</h4><%= react_component('AddTagButton') %>
      </div>
      <%= react_component('FollowingTagList', { followingTags: current_user.following_tags }) %>
            
    </aside>
  <% end %>
<% end %>