<div class="post-panel">
  <%= render partial: 'posts/post_metadata_dash', locals: { post: post } %>

  <% if post.picture? %>
    <div class="post-picture-wrapper">
      <%= link_to ( image_tag post.picture.url(:thumb) ), post %>
    </div>
  <% end %>

  <div class="main-body">
    <h3 class="post-title"><%= link_to post.title, post %></h3>
    <% if post.lead %>
      <div class="post-body"><%= truncate(remove_javascript(post.lead), length: 400, separator: ' ', escape: false) %></div>
      <%= link_to "Sigue leyendo", post, class: 'read-more' if post.characters > 400 %>
    <% end %>
  </div>

  <div class="post-stats stats clearfix">
    <div style="display: flex;justify-content: space-around;">
      <div style="margin-top: 11px;">
        <i class="fa fa-eye eye-icon-wrapper" style="height: 18px;width: 18px;color: #ee4266;font-size: 18px;padding: 3px 0 0 6px;margin-right: 8px;"></i>
        <%= "#{post.impressionist_count}" %>
      </div>

      <div style="text-align: center;">
        <%= render partial: 'posts/likes', locals: { post: post } %>
      </div>

      <div style="margin-top: 11px;">
        <%= render partial: 'posts/bookmarks', locals: { post: post } %>
      </div>
    </div>
    <div class="response-count pull-right">
      <% if post.responses_count > 0 %>
        <%= link_to (pluralize(post.responses_count, "respuesta")), post_path(post, anchor: 'responses'), class: 'response-count' %>
      <% end %>
    </div>
  </div>
</div>