<% if user_signed_in? %>
  <nav data-behavior="animated-navbar" class="tongs-nav navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= link_to root_path, class: "navbar-brand fix-width", id: "logo" do %>
          <%= image_tag('tong.png', height: 40, class: 'left-logo', alt: "", title: "Tongs") %>
        <% end %>
      </div>
      <ul class="nav navbar-nav filter-links">
        <li><%= nav_link_to "Inicio", root_path %></li>
        <li><%= nav_link_to "Destacados", top_stories_path %></li>
        <li><%= nav_link_to "Leer después", dashboard_bookmarks_path %></li>
      </ul>

      <div class="folding-nav">
        <ul class="nav navbar-nav navbar-right">
          <li class="main-searchbar">
            <%= react_component('SearchContainer') %>
          </li>
          <li class="new-post-button"><%= link_to "Nuevo Post", new_post_path %></li>
          <li id="notifications">
            <%= react_component('NotificationsContainer', {}) %>
          </li>
          <%= render 'layouts/avatar_dropdown' %>
        </ul>
      </div>
    </div>
  </nav>
<% end %>