<nav data-behavior="animated-navbar" class="tongs-nav navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to root_path, url: welcome_hi_path, class: "navbar-brand fix-width", id: "logo" do %>
        <object data="assets/newdotlogo.svg" type="image/svg+xml"></object>
      <% end %>
    </div>
    <ul class="nav navbar-nav filter-links">
      <li>
        <%= nav_link_to "Inicio", root_path if user_signed_in? %>
      </li>
      <li>
        <%= nav_link_to "Destacados", top_stories_path if user_signed_in? %>
      </li>
      <% if user_signed_in? %>
        <li><%= nav_link_to "Leer después", dashboard_bookmarks_path %></li>
      <% end %>
    </ul>

    <div class="folding-nav">
      <ul class="nav navbar-nav navbar-right">
        <li class="main-searchbar">
          <%= react_component('SearchContainer') %>
        </li>
        <% if user_signed_in? %>
          <li class="new-post-button"><%= link_to "Nuevo Post", new_post_path %></li>
          <li id="notifications">
            <%= react_component('NotificationsContainer', {}) %>
          </li>
          <%= render 'layouts/avatar_dropdown' %>
        <% else %>
          <!--<li class="new-post-button" style="display: inline;border: 2px solid #ee4266;border-radius: 4px;"><%= link_to "Nuevo Post", new_post_path, data: { behavior: 'trigger-overlay' } %></li>-->
          <li class="new-post-button" style="display: inline;border: 2px solid #ee4266;border-radius: 4px;"><%= link_to "Ingresa", new_user_session_path, data: { behavior: 'trigger-overlay' } %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>