<!DOCTYPE html>
<html ng-app="Tongs">
<head>
  <title>Tongs
    <% if @post %>
      • <%= @post.title %>
    <% end %>
    <% if @user %>
      • <%= @user.username %>
    <% end %>
  </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <% if content_for?(:meta_og) %>
    <%= yield :meta_og %>
  <% else %>
    <meta property="og:title" content="Tongs" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://tongs.co" />
    <%= tag :meta, property: 'og:image', content: image_url('tongsession.svg') %>
  <% end %>

  <%= csrf_meta_tags %>

  <%= favicon_link_tag 'favicon.png', type: 'image/png' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body class="<%= controller.controller_name %> <%= controller.action_name %>" >

  <% unless admin_signed_in? %>
    <% if user_signed_in? %>
      <%= render 'layouts/header' %>
    <% end %>
  <% else %>
    <%= render 'layouts/admin_header' %>
  <% end %>
  <%= render 'layouts/alert_messages' %>

  <div class="main-container">
    <%= yield %>
    <%= yield :sidebar %>
  </div>
</body>
<script type="text/javascript">
  window.userSignedIn = <%= user_signed_in? %>;
</script>
</html>
